# disk.qip.ru
$umask 0000
$FileOwner qip-disk
$FileCreateMode 0644
local0.*                                                -/logs/disk-kernel/ifs-server.log
&~
local1.*                                                -/logs/disk-kernel/filter-server.log
&~
local4.*                                                -/logs/disk-kernel/disk-httpd.log
&~
local6.*                                                -/logs/disk-kernel/gc.log
&~
local7.*                                                -/logs/disk-kernel/back-endd.log
&~
