# service
allow   80.68.244.32/27;
allow   127.0.0.0/8;
allow   195.239.111.184;    # Nagios
allow   195.239.111.252/31; # VPN
allow   83.229.209.252/31;  # VPN2
allow   80.68.252.0/24;     # RBC proxy
allow   62.122.188.112;     # Bryanskiy filial
allow   31.132.139.133;	    # Bryanskiy filial
allow	213.170.119.154;    # tula
# service

# devel
allow	80.68.242.219;      # dev2
allow   80.68.242.83;       # ? (deprecated?) 
allow 	80.68.242.145;      # devrelax.izba.relax.ru
allow 	80.68.249.61;       # pip.photofile.ru (deprecated?)
allow   80.68.242.87;       # starsqip.izba.relax.ru
allow   80.68.242.82;       # qip.izba.relax.ru
allow   80.68.242.97;	    # friends.izba.relax.ru
allow	80.68.242.209;	    # 5ballov.izba.relax.ru
# devel

# fishki.net
allow 194.186.88.71;
allow 194.186.88.72;
allow 194.186.88.70;        # Ticket 12409
allow 194.186.88.24;
allow 194.186.88.22;
allow 194.186.88.23;
# fishki.net

# qip.ru
allow 195.239.111.74;       # gamma.relax.ru
allow 195.239.111.96;       # tango.relax.ru
allow 195.239.111.118;      # delta.relax.ru
# qip.ru

# other
allow 195.68.160.208;       # buna.relax.ru
allow   194.186.88.10;      # sosna.relax.ru
allow 195.68.160.205;       # klen.relax.ru
allow 195.239.111.94;       # redwood.relax.ru
allow 195.68.160.213;       # drova.relax.ru  
allow 80.68.249.61;         # goliath.relax.ru
allow 80.68.242.94;	    # trac.relax.ru
# other
