{% include 'templates/banner.j2' %}

user                www;
worker_processes    {{ VCPUS }};
worker_priority     -20;

error_log           {{ LOG_DIR }}/{{ NGINX_ERROR_LOG }} error;
pid                 {{ NGINX_PID }};

events {
    worker_connections  4096;
    use                 {{ NGINX_METHOD }};
}

http {
        include         mime.types;
        default_type    application/octet-stream;

        server_tokens off;

        client_header_timeout           360;
        client_body_timeout             720;
        send_timeout                    360;

        connection_pool_size            256;
        client_header_buffer_size       1k;
        large_client_header_buffers     4 4k;
        request_pool_size               4k;
        client_max_body_size            20m;

        gzip                            off;
        gzip_min_length                 1100;
        gzip_buffers                    8 16k;
        gzip_types                      text/html text/plain application/x-javascript text/css;

        postpone_output                 1460;

        sendfile                        on;
        tcp_nodelay                     on;
        tcp_nopush                      on;
        keepalive_timeout               70 20;

        charset                         windows-1251;

        access_log  off;

        proxy_temp_path                 /www/tmp/nginx;
        proxy_buffer_size               16k;
        proxy_buffers                   16 128k;
        proxy_busy_buffers_size         128k;
        proxy_temp_file_write_size      128k;
        proxy_connect_timeout           15;
        proxy_send_timeout              60;
        proxy_read_timeout              60;
        proxy_redirect                  off;
        proxy_set_header                Host $host;

        server {
                listen  {{ ansible_default_ipv4["address"] }}:80;

                server_name dummy .{{ inventory_hostname }};

                location / {
                        root /www/{{ inventory_hostname }};
                }

                location = /monitoring {
                        proxy_pass  http://127.0.0.1/index.php;
                }

                location = /server-status {
                        proxy_pass      http://127.0.0.1/server-status;
                        access_log      off;
                        allow           195.239.111.184;
                        allow           80.68.244.32/27;
                        allow           127.0.0.1;
                        deny            all;
                }

                location = /server-status-nginx {
                        stub_status     on;
                        access_log      off;
                        allow           195.239.111.184;
                        allow           80.68.244.32/27;
                        allow           127.0.0.1;
                        deny            all;
                }
        }

        include nginx.disk.conf;
}
