server {
        listen          83.229.209.62:80;
        server_name     contest.photofile.ru;

        access_log      {{ LOG_DIR }}/contest.photofile.ru/{{ NGINX_ACCESS_LOG }};
        error_log       {{ LOG_DIR }}/contest.photofile.ru/{{ NGINX_ERROR_LOG }} notice;

        allow           80.68.240.0/20;
        allow           127.0.0.0/8;
        allow           195.239.111.0/24;
        allow           195.239.86.0/24;
        allow           83.229.209.0/24;
        deny            all;

        error_page 403  =200 http://photofile.ru/;

        location ~* "^/paidlinks/.+\.(jpe?g|gif|tiff?|png)$" {
                root /www/contest.photofile.ru/htdocs;
                error_page 404 http://photofile.ru/images/no_image.gif;
        }
        location ~* "/contestphoto/[0-9]+/[0-9]+/[0-9]+\.(jpe?g|gif|tiff?|png)$" {
                internal;
                root    /www/contest.photofile.ru/data;
        }
        location ~* "/preview_contestphoto/[0-9]+/[0-9]+/[a-z0-9]+/[0-9]+\.(jpe?g|gif|tiff?|png)$" {
                internal;
                error_page 404 = /thumb.php;
                root    /www/contest.photofile.ru/data;
        }
        location / {
                rewrite ^/contestphotos/photos/([0-9]+)/([0-9]+)/([a-z0-9]+)/(.*)$ /preview_contestphoto/$1/$2/$3/$4 last;
                rewrite ^/contestphotos/photos/([0-9]+)/([0-9]+)/(.*)$ /contestphoto/$1/$2/$3 last;
                proxy_pass      http://127.0.0.1:83/;
        }
}
