#!/bin/sh

RUN_USER="{{ BACKUP_USER }}"

RSYNC_VERBOSE="-q"
RSYNC_DELETE=""
RSYNC_COMMAND="env RSYNC_PASSWORD=hidden rsync -Waup --safe-links --chmod=ug+rw"

if [[ $UID -eq 0 ]]; then
    RSYNC_ENV="sudo -u $RUN_USER"
elif [[ $UID -eq $(id -u $RUN_USER) ]]; then
    RSYNC_ENV=""
else
    echo "This script must be run only by root or $RUN_USER"
    exit 1
fi

while getopts ":dVhv" opt; do
    case $opt in
        d)  RSYNC_DELETE="--delete-before"
        ;;
        V)  RSYNC_VERBOSE="-v"
        ;;
        h)  echo "`basename $0` is the command line program for doing shot.qip.ru file backups"
            echo -e "\t-d: run rsync with --delete-before option and ignore free capacity statement"
            echo -e "\t-V: verbose mode"
            echo -e "\t-h: print this help"
            exit 0
        ;;
        v)  echo "`basename $0`: $VERSION"
            exit 1
        ;;
        *)  echo "Unknown key. Run '$0 -h' for help"
            exit 1
    esac
done

saveit () {
    $RSYNC_COMMAND $RSYNC_VERBOSE $RSYNC_DELETE $1 $2
}

saveit {{ BACKUP_USER }}@{{ SHOT_STORAGE_BACKUP }}.photofile.ru::{{ SHOT_STORAGE_BACKUP }}/ /www/{{ SHOT_STORAGE_BACKUP }}.photofile.ru-backup/data/photo;

