########################################################################
# NOTE:
# This file is under Ansible (http://ansible.cc/) control.
# Please, don't modify it manually, all your local changes will be lost!
# For permanent modifications please read this article:
#     url: https://mnt.itmm.ru/wiki/doku.php?id=ansible
#
########################################################################

