0       *       *       *       *       photofile.ru    /usr/local/bin/php              /www/download.photofile.ru/crontab/remove_old.cron.php

MAILTO=root@itmm.ru
# workaround for TSC timecounter, ntpd not work correctly?
*/5     *       *       *       *       root    ntpdate -s ntp2.rbc.ru ntp.rbc.ru ntp1.rbc.ru
